body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.banner {
    background: #ccc; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 5vh;
    font-size: 1.5em;
}

.callUsNow {
    color: darkorange;
    padding-left: 15vw;
}

.phoneNumber {
    color: white;
}

.login {
    color: darkorange;
}

.signup {
    color: white;
    padding-right: 15vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.your {
    color: black;
    padding-left: 15vw;
}

.logo {
    color: darkorange;
}

.title {
    padding: 0.25em;
    font-size: 0.75em;
}

.navTitle {
    margin-right: 15vw;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
  
li {
    color: #fff;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
    
li a {
    color: black;
    text-decoration: none;
}
  
.title:hover {
    border-bottom: 4px solid darkorange;
}
  
ul li ul {
    border: 1px solid black;
    background: white;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
    z-index: 100;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
ul li ul li {
    width: 100%;
}

.breadcrumb {
    padding: 7vh 0 5vh 15vw;
    color: #7a7a7a;
}

.contact {
    padding: 0 0 5vh 15vw;
    color: darkorange;
}

.contact p {
    color: #7a7a7a;
    padding: 0 15vw 5vh 0;
}

.contactUsTitle {
    color: darkorange;
    margin: 0 0 0 15vw;
    width: 25vw;
    border-bottom: 3px solid darkgray;
    font-size: 1.5em;
}

form {
    margin: 2vh 0 0 15vw;
}

input,
textarea {
    margin: 0.25em;
}

.formName {
    width: 24.7vw;
}

.formPhone,
.formEmail {
    width: 12vw;
}

.formMessage {
    width: 24.7vw;
    height: 10vh;
}

.submitButton {
    color: white;
    background: darkorange;
    border: none;
    padding: 10px 20px 10px 20px;
}